In [12]:
import pandas as pd
from pycaret.regression import setup, compare_models, blend_models, finalize_model, plot_model, predict_model, add_metric, evaluate_model,tune_model

VERSION = "merge_baseline_blend"

In [2]:
main_train_data = pd.read_csv("HW_train_main_data.csv", parse_dates=["timestamp"])
main_test_data = pd.read_csv("HW_test_main_data.csv", parse_dates=["timestamp"])

main_train_data = main_train_data.sort_values(by=["timestamp"])
main_test_data = main_test_data.sort_values(by=["timestamp"])
add_train_data = pd.read_csv("HW_train_additional_data.csv")
add_test_data = pd.read_csv("HW_test_additional_data.csv")

In [3]:
main_train_data = main_train_data.merge(add_train_data, on="id")
main_test_data = main_test_data.merge(add_test_data, on="id")

In [4]:
main_train_data

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,additional_education_facilities,culture_objects_facilities,shopping_centers_facilities,office_num,green_part,prom_part,cafe_count,church_facilities,mosque,leisure_facilities
0,84150,2011-09-06,35,19.0,3.0,NaN,NaN,NaN,NaN,NaN,...,1,1,3,0,25.14,0.00,5,1,0,0
1,93255,2011-09-14,80,77.0,4.0,NaN,NaN,NaN,NaN,NaN,...,2,0,10,93,3.56,4.44,48,4,0,2
2,44634,2011-09-14,43,27.0,5.0,NaN,NaN,NaN,NaN,NaN,...,6,0,0,7,7.71,0.00,7,0,0,0
3,18855,2011-09-16,45,44.0,5.0,NaN,NaN,NaN,NaN,NaN,...,3,0,16,1,17.62,0.00,4,0,0,0
4,65431,2011-09-16,67,46.0,14.0,NaN,NaN,NaN,NaN,NaN,...,0,0,6,19,0.00,19.42,7,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28995,51270,2015-07-30,56,51.0,19.0,19.0,1.0,2017.0,2.0,1.0,...,6,0,5,4,12.38,11.67,0,0,0,0
28996,20074,2015-07-30,48,47.0,7.0,25.0,1.0,2015.0,1.0,1.0,...,1,0,6,6,3.47,56.84,2,1,0,0
28997,34576,2015-07-31,51,NaN,4.0,17.0,4.0,NaN,2.0,1.0,...,3,0,5,1,8.93,0.00,0,0,0,1
28998,74488,2015-07-31,76,NaN,8.0,17.0,1.0,NaN,3.0,1.0,...,3,0,2,3,21.17,14.29,0,0,0,0
28999,58320,2015-07-31,66,NaN,15.0,17.0,1.0,NaN,2.0,1.0,...,3,0,5,1,8.93,0.00,0,0,0,1

In [8]:
setup(data=main_train_data.drop(['id'], axis = 1),
          target="price",
          fold = 5)

best_models  = compare_models(sort = 'RMSE', n_select = 5)

blender = blend_models(estimator_list=best_models)

pred = predict_model(blender, data= main_test_data.drop(['id'], axis = 1))

In [14]:
setup(data=main_train_data.drop(['id'], axis = 1),
          target="price",
          fold = 5)

best_models  = compare_models(sort = 'RMSE', n_select = 5)

blender = blend_models(estimator_list=best_models)

tuned_blender = tune_model(blender)

pred = predict_model(tuned_blender, data= main_test_data.drop(['id'], axis = 1))

Fitting 5 folds for each of 10 candidates, totalling 50 fits

In [15]:
pred

,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,apartment condition,...,culture_objects_facilities,shopping_centers_facilities,office_num,green_part,prom_part,cafe_count,church_facilities,mosque,leisure_facilities,prediction_label
0,2011-10-08,34,19.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,1,2.750000,0.04,0,0,0,0,4.543045e+06
1,2011-10-14,35,20.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1,3,24,8.030000,0.00,1,0,0,0,5.198118e+06
2,2011-10-23,44,28.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,3,5,50.290001,0.00,1,0,0,1,4.828137e+06
3,2011-10-28,41,20.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,10,5,17.290001,0.00,1,1,0,0,6.169042e+06
4,2011-10-30,77,45.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,2,13.470000,13.22,3,0,0,2,8.544728e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2015-07-05,31,1.0,4.0,17.0,1.0,2015.0,2.0,1.0,1.0,...,10,23,141,12.240000,0.00,71,15,0,0,4.310557e+06
996,2015-07-09,58,29.0,13.0,14.0,1.0,2001.0,2.0,11.0,3.0,...,0,5,0,2.630000,0.00,2,0,0,0,1.072911e+07
997,2015-07-13,48,1.0,8.0,1.0,1.0,2016.0,1.0,1.0,1.0,...,0,6,6,3.470000,56.84,2,1,0,0,8.467762e+06
998,2015-07-17,86,NaN,12.0,17.0,1.0,NaN,3.0,1.0,1.0,...,0,1,0,15.290000,2.83,1,0,0,0,9.838424e+06
999,2015-07-24,46,1.0,6.0,15.0,6.0,2015.0,1.0,1.0,1.0,...,0,4,4,94.400002,0.00,0,0,0,0,5.578039e+06

In [17]:
pred['id'] = main_test_data["id"]
pred = pred.sort_values(by=["id"])
pred = pred.rename(columns={"prediction_label":"predicted_price"}).reset_index()
pred[['id', "predicted_price"]].to_csv(f'{VERSION}.csv', index=False)